.wrapper {
  padding: 1rem;
  margin-top: 1.5rem;
  width: 80%;
  margin: 0 auto;
  max-width: 80ch;

  /* border: 2px solid rgba(187, 187, 187, 0.235);
  border-radius: 5px; */
}

p {
  font-size: 1rem;
  color: var(--black);
  margin: 0 2rem;
}

time {
  color: var(--black);
  margin-left: 1.8rem;
}

h3 {
  color: var(--black);
  font-weight: bold;
  padding: 1rem;
}

ul {
  margin-left: 2.1rem;
}

.wrapper li {
  font-size: 1.1rem;
  list-style-type: disc;
  padding: 0.6rem;
  color: var(--changelog-main-text-color);
  line-height: 1.2rem;
  max-width: 65ch;
}
