.select-property {
  width: 100%;
}
.converter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.setting-item {
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 1px 3px var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding {
  text-align: center;
}

.coverterLinks {
  font-size: 0.9rem;
  color: var(--black);
}

.converterLinkAnchor {
  color: var(--accent-color);
  text-decoration: none;
}

.converterLinkAnchor:hover {
  text-decoration: underline;
}
