/* everything that changes when applying this theme */

:root {
  --base-font-size: 16px;

  --white: #fff;
  --black: #000;
  --hero: #cbccf7;
  --index-border-color: hsla(250, 100%, 50%, 0.129);
  --index-card-color: #d1f1ed;
  --accent-color: #eca3ed;
  --background-color: rgb(220, 251, 252);

  --footer-bg-color: #000;
  --footer-text-color: #fff;

  --nav-bg-color: rgb(248, 145, 186);

  --off-white: #f9f9f9;
  --darker-off-white: #ccc;

  --dark-grey-shade: rgb(205, 141, 176);

  --splash-text-color: #000000;

  --chapter-index-link-color: #000;

  --default-link-color: blue;
  --default-link-color-hover: rgb(118, 0, 254);
  --archive-link-color: blue;

  --changelog-main-text-color: #666;

  --th-bg-color: #b6b3b3;
  --td-bg-color: #d8d8d8;
  --tr-bg-color: #e9e9e9;

  --side-nav-bg: #d1f1ed;
  --side-nav-link: rgb(36, 36, 36);
}
